@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap");

$title_clamp: clamp(3rem, 5vw, 7vw);

body {
  font-family: "Gothic A1", sans-serif;
}

.main-title {
  color: $white;
  font-size: $title_clamp;
  text-align: center;
  padding-bottom: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  span {
    color: $mint;
  }
}

.title-white {
  color: $white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 700;
  position: relative;
  span {
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, $mint 0%, $mint 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px;
  }
}

.title-black {
  color: $navy;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 700;
  position: relative;
  span {
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, $mint 0%, $mint 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px;
  }
}
