@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap");
.first-icon {
  color: #4b6cb7; }

.second-icon {
  color: #5bd3c7; }

.blue-text {
  color: #4b6cb7; }

.mint-text {
  color: #5bd3c7; }

body {
  font-family: "Gothic A1", sans-serif; }

.main-title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 7vw);
  text-align: center;
  padding-bottom: 5rem;
  text-transform: uppercase;
  font-weight: 900; }
  .main-title span {
    color: #5bd3c7; }

.title-white {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 700;
  position: relative; }
  .title-white span {
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, #5bd3c7 0%, #5bd3c7 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px; }

.title-black {
  color: #182848;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 700;
  position: relative; }
  .title-black span {
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, #5bd3c7 0%, #5bd3c7 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px; }

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  position: relative;
  transform: translateY(100%);
  background-color: #4b6cb7;
  text-align: center;
  color: #ffffff; }
  footer p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .about .self-introduction {
    list-style: none; }
    .about .self-introduction li {
      font-size: 1.1rem;
      padding: 0.5rem 0;
      color: #e0e4ee;
      position: relative; }
      .about .self-introduction li span {
        color: #ffffff;
        font-weight: 700; }
      .about .self-introduction li::before {
        content: "\003E";
        position: absolute;
        left: -1rem;
        font-size: 1rem; }

nav {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: #5bd3c7 0px 10px 30px -10px; }
  nav .links {
    display: flex;
    justify-content: center;
    list-style: none; }
    nav .links li {
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1rem;
      display: flex;
      align-items: center; }
      nav .links li a {
        color: #182848;
        text-decoration: none;
        background: linear-gradient(to right, #5bd3c7, #5bd3c7);
        background-size: 0 3px, 100% 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms; }
        nav .links li a:hover {
          opacity: 0.7;
          background-size: 100% 3px, 0 3px; }

.skills__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 5rem; }
  .skills__container-content {
    width: 100%;
    max-width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .skills__container-content:hover {
      cursor: pointer;
      transform: scale(1.05);
      -webkit-transition: all 0.3s 0s ease-in-out;
      -moz-transition: all 0.3s 0s ease-in-out;
      -o-transition: all 0.3s 0s ease-in-out;
      transition: all 0.3s 0s ease-in-out; }
    .skills__container-content .icon {
      font-size: 2rem;
      display: flex;
      padding: 2rem; }
    .skills__container-content .content-title {
      color: #182848;
      padding: 0 2rem;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase; }
    .skills__container-content .skills-text {
      padding: 2rem;
      list-style: inside;
      line-height: 3rem;
      font-weight: 500; }

.projects {
  margin-top: 7rem; }
  .projects .items {
    padding: 3rem 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem; }
    .projects .items li {
      width: 17rem;
      height: 17rem;
      border-radius: 10px;
      border: none;
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      .projects .items li:hover {
        cursor: pointer;
        transform: scale(1.1);
        opacity: 0.7; }
      .projects .items li img {
        width: 100%;
        height: 8.5rem;
        border: 1px solid #e0e4ee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .projects .items li .inner-text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .projects .items li .inner-text h2 {
          color: #182848; }

.project-content {
  margin-top: 7rem;
  position: relative; }
  .project-content .back-btn {
    font-size: 2.5rem;
    color: #4b6cb7;
    position: absolute;
    top: -2.5rem;
    left: 1.5rem; }
    .project-content .back-btn:hover {
      cursor: pointer;
      opacity: 0.7;
      transform: scale(1.05); }
  .project-content h1 {
    padding: 1rem 0;
    color: #4b6cb7;
    text-align: center; }
  .project-content .project-container {
    padding: 0 1rem; }
    .project-content .project-container img {
      width: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 10px;
      border: 1px solid #e0e4ee; }
    .project-content .project-container .used_skills-text {
      padding-top: 1rem;
      color: #182848;
      display: flex;
      flex-wrap: wrap; }
      .project-content .project-container .used_skills-text .skill-item {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: clamp(0.7rem, 1vw, 1.2vw);
        border-radius: 100px;
        background-color: #182848;
        margin-right: 1rem; }
    .project-content .project-container .project-introduction {
      padding: 2rem 0;
      text-align: left;
      line-height: 1.8rem; }
    .project-content .project-container a .link-btn {
      width: 100%;
      border-radius: 100px;
      border: none;
      padding: 1rem 2rem;
      background-color: #4b6cb7;
      color: #ffffff;
      font-size: 1rem; }
      .project-content .project-container a .link-btn:hover {
        cursor: pointer;
        opacity: 0.7; }
      .project-content .project-container a .link-btn::after {
        content: "\1F517";
        padding-left: 1rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.App {
  height: auto;
  min-height: 100%; }

section {
  min-height: 600px; }

.about-section {
  background: linear-gradient(90deg, #182848 0%, #4b6cb7 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); }

.projects-section {
  display: flex;
  align-items: center; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
  margin: 0 auto;
  position: relative; }

.contact {
  margin-top: 7rem; }
  .contact form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact form input {
      width: 100%;
      padding: 0.7rem;
      max-width: 300px; }
    .contact form textarea {
      width: 100%;
      padding: 0.7rem;
      min-height: 5rem;
      max-height: 15rem;
      max-width: 300px; }
    .contact form input + input {
      margin: 1rem 0; }
    .contact form input:focus,
    .contact form textarea:focus {
      background-color: #e0e4ee;
      outline: 1px solid #5bd3c7; }
  .contact .submit-btn {
    width: 100%;
    max-width: 300px;
    margin: 2rem 0;
    border: none;
    padding: 1rem 0;
    border-radius: 100px;
    background-color: #5bd3c7;
    color: #ffffff; }
    .contact .submit-btn:hover {
      opacity: 0.7;
      cursor: pointer; }
  .contact .contacts {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
    .contact .contacts .item {
      display: flex;
      align-items: center;
      line-height: 0;
      margin-top: 3rem; }
      .contact .contacts .item span {
        font-size: 1.2rem; }
        .contact .contacts .item span:nth-child(1) {
          padding-right: 1rem;
          color: #4b6cb7; }
        .contact .contacts .item span:nth-child(2) {
          font-weight: 700; }
    .contact .contacts .item + .item {
      margin-top: 2rem; }
  .contact h2 {
    padding-top: 5rem;
    line-height: 3rem; }

/*media query*/
@media screen and (min-width: 480px) {
  .project-content .project-container a .link-btn {
    width: inherit; } }

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 5rem; }
    .about .main-title {
      padding-bottom: 0; }
  .project-content .project-container {
    padding: 0 4rem; } }
