@import "abstracts/colors";
@import "abstracts/fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

nav {
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: $mint 0px 10px 30px -10px;
  .links {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
      a {
        color: $navy;
        text-decoration: none;
        background: linear-gradient(to right, $mint, $mint);
        padding-bottom: 0.5rem;
        background-size: 0 3px, 100% 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        &:hover {
          opacity: 0.7;
          background-size: 100% 3px, 0 3px;
        }
      }
    }
  }
}

section {
  min-height: 600px;
}

.about-section {
  background: linear-gradient(90deg, $navy 0%, $blue 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.skills-section {
}

/*About*/
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .self-introduction {
    list-style: none;
    // word-break: keep-all;
    li {
      font-size: 1.1rem;
      padding: 0.5rem 0;
      color: $gray;
      position: relative;
      span {
        color: $white;
        font-weight: 700;
      }
      &::before {
        content: "\003E";
        position: absolute;
        left: -1rem;
        font-size: 1rem;
      }
    }
  }
}

/*Skills*/
.skills {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 5rem;
    &-content {
      width: 100%;
      max-width: 20rem;
      height: 30rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        -webkit-transition: all 0.3s 0s ease-in-out;
        -moz-transition: all 0.3s 0s ease-in-out;
        -o-transition: all 0.3s 0s ease-in-out;
        transition: all 0.3s 0s ease-in-out;
      }
      .icon {
        font-size: 2rem;
        display: flex;
        padding: 2rem;
      }
      .content-title {
        color: $navy;
        padding: 0 2rem;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      .skills-text {
        padding: 2rem;
        list-style: inside;
        line-height: 3rem;
        font-weight: 500;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
  margin: 0 auto;
}

/*media query*/
@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 5rem;
    .main-title {
      padding-bottom: 0;
    }
  }
}
