@import "abstracts/colors";
@import "abstracts/fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
}

.about-section {
  background: linear-gradient(90deg, $navy 0%, $blue 100%);
}

.about {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  &__title {
    font-size: $title_clamp;
    text-align: center;
    padding-bottom: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    span {
      color: $mint;
    }
  }

  .self-introduction {
    list-style: circle;
    word-break: keep-all;
    li {
      font-size: clamp(1rem, 1.2vw, 1.5vw);
      padding: 0.5rem 0;
      color: $gray;
      span {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 5rem;
    &__title {
      padding-bottom: 0;
    }
  }
}
